.tab-container {
  display: flex;
  cursor: pointer;
}

.tabsheading {
  padding: 5px;
  border: 1px solid black;
}

.tab-body {
  display: flex;
  border: 1px solid black;
  height: 200px;
  padding: 5px;
  margin-top: 5px;
}
