.tab-container {
  display: flex;
  cursor: pointer;
}

.tabsheading {
  padding: 5px;
  border: 1px solid black;
}

.tab-body {
  display: flex;
  border: 1px solid black;
  height: 200px;
  padding: 5px;
  margin-top: 5px;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.submit {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.prevbtn {
  margin-left: 8px;
}

.nextbtn {
  margin-right: 8px;
}

.error {
  color: red;
  font-size: small;
  display: block;
}
